@charset "UTF-8";
/* order to import files

1.Utils:
    1. Variables
    2. Functions
    3. Mixins
    4. Placeholders

2.Vendor sheets (if you have them)
3.Base
4.Components
5.Layout
6.Pages
7.Themes

*/
/* --------The below for debug purpose used------ */
/* --------The above for debug purpose used------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Shrikhand&display=swap");
html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

@keyframes menu-loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-list-card-slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes price-slide-in {
  0% {
    transform: translateX(57.5%);
  }
  90% {
    transform: translateX(0%);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menu-list-card-slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.button, .book-the-menu__button {
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  opacity: 0.9;
  width: 70%;
  height: auto;
  padding: 5% 0px;
  margin: 2.5%;
  box-shadow: 5px 5px 5px #d7d7d7;
  cursor: pointer;
}
.button--small {
  width: 40%;
  min-height: 5vh;
}
.button__text {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.button:hover, .book-the-menu__button:hover {
  opacity: 1;
  box-shadow: 5px 5px 5px #bdbdbd;
}

.background-img, .subpage-main__background-img {
  width: 100%;
  height: 30vh;
  z-index: -10;
}
.background-img > img, .subpage-main__background-img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.like-img, .subpage-main__menu__heading__like, .restaurants-card__sub-description__like {
  cursor: pointer;
  width: 10%;
  height: 50%;
  background-image: url("/assets/icon/heart-regular.svg"); /* path to empty heart svg*/
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease;
}
.like-img:hover, .subpage-main__menu__heading__like:hover, .restaurants-card__sub-description__like:hover {
  background-image: linear-gradient(to top right, #FF79DA, #9356DC);
  background-size: contain;
  -webkit-mask-image: url("/assets/icon/heart-solid.svg"); /* path of the svg used to mask the background-image,-webkit-is used to solve the compatibility issue on different browser */
  mask-image: url("/assets/icon/heart-solid.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.menu-list-title, .subpage-main__menu__list__title {
  font-family: "Roboto", sans-serif;
  margin: 2.5% 0;
}
.menu-list-title > p, .subpage-main__menu__list__title > p {
  margin: 10% 0;
}
.menu-list-title > div, .subpage-main__menu__list__title > div {
  padding-top: 1.25%;
  width: 60%;
  background-color: #99E2D0;
  height: 3px;
}

.how-it-works-card, .how-it-works__list__card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 5px #e3e3e3;
  border-radius: 20px;
  margin: 2.5% 0;
  width: 90%;
  cursor: pointer;
}
.how-it-works-card__number {
  border-radius: 50%;
  background-color: #9356DC;
  padding: 2% 3%;
  text-align: center;
  color: #fff;
  position: relative;
  left: -7.5%;
}
.how-it-works-card__icon {
  margin: 0 5% 0 0;
  font-size: 16px;
  width: 16px;
}
.how-it-works-card__icon--color {
  color: #bdbdbd;
}
.how-it-works-card__icon--color:hover {
  color: #9356DC;
}
.how-it-works-card__text {
  margin: 0 2.5%;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 90%;
}
.how-it-works-card:hover, .how-it-works__list__card:hover {
  background-color: #f2eafb;
  box-shadow: 5px 5px 5px #bdbdbd;
}
.how-it-works-card:active, .how-it-works__list__card:active {
  background-color: #f2eafb;
  box-shadow: 5px 5px 5px #bdbdbd;
}

.restaurants-card, .restaurants__list__card--new, .restaurants__list__card {
  width: 90%;
  height: 25%;
  border-radius: 20px;
  background-color: #fff;
  margin: 2.5% 5%;
}
.restaurants-card::after, .restaurants__list__card--new::after, .restaurants__list__card::after {
  content: "New";
  display: none;
  padding: 1.5%;
  background-color: rgb(87, 247, 233);
  color: #008637;
  width: 15%;
  height: 7%;
  text-align: center;
  position: relative;
  left: 77.5%;
  top: -95%;
  font-family: "Roboto", sans-serif;
  font-size: 85%;
}
.restaurants-card__img-container {
  width: 100%;
  height: 70%;
}
.restaurants-card__img-container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants-card__sub-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  padding: 2.5% 5%;
  width: 90%;
  height: 25%;
}
.restaurants-card__sub-description__des {
  width: 60%;
  margin: 0 0;
  font-family: "Roboto", sans-serif;
}
.restaurants-card__sub-description__des__name {
  margin: 2.5% 0;
  font-weight: bolder;
}
.restaurants-card__sub-description__des__loc {
  margin: 2.5% 0;
}
.restaurants-card > a, .restaurants__list__card--new > a, .restaurants__list__card > a {
  text-decoration: none;
}
.restaurants-card > a:visited, .restaurants__list__card--new > a:visited, .restaurants__list__card > a:visited {
  color: #000;
}

.footer-layout, .footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  color: #fff;
  background-color: #262626;
  padding: 0px 5%;
}
.footer-layout__header {
  font-family: "Shrikhand", cursive;
}
.footer-layout__icon-des {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 50%;
  font-family: "Roboto", sans-serif;
}
.footer-layout__icon-des > span {
  width: 5%;
  padding: 0px 2.5%;
}
.footer-layout__icon-des > p {
  margin: 2.5% 0px;
  padding: 0px 5%;
}
.footer-layout__des {
  font-family: "Roboto", sans-serif;
}
.footer-layout__des > p {
  margin: 10% 0px;
  padding: 0px 5%;
}
.footer-layout__des > p > a {
  text-decoration: none;
}
.footer-layout__des > p > a:visited {
  color: #fff;
}

.subpage-main-menu-list-card, .subpage-main__menu__list__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  height: 70px;
  margin: 2.5% 0;
  overflow: hidden;
  cursor: pointer;
}
.subpage-main-menu-list-card__item {
  width: 50%;
  padding: 2.5% 5% 2.5% 2.5%;
}
.subpage-main-menu-list-card__item__name {
  font-weight: bold;
  margin-bottom: 2.5%;
}
.subpage-main-menu-list-card__item__des {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.subpage-main-menu-list-card__selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  background-color: #99E2D0;
  width: 15%;
  height: 100%;
  color: white;
  transform: translateX(100%);
  transition: all 500ms ease-in-out;
}
.subpage-main-menu-list-card__selected > i {
  transform: rotate(0);
  transition: all 500ms ease-in-out;
}
.subpage-main-menu-list-card__price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
  flex-wrap: nowrap;
  padding: 0 2.5% 2.5% 2.5%;
  margin: 0 5%;
  width: 15%;
  font-weight: bold;
  transform: translateX(80%);
  transition: all 500ms ease-in-out;
}
.subpage-main-menu-list-card__price::after {
  content: "€";
}
.subpage-main-menu-list-card:hover > .subpage-main-menu-list-card__selected, .subpage-main__menu__list__card:hover > .subpage-main-menu-list-card__selected {
  display: flex;
  transform: translateX(0%);
}
.subpage-main-menu-list-card:hover > .subpage-main-menu-list-card__selected > i, .subpage-main__menu__list__card:hover > .subpage-main-menu-list-card__selected > i {
  transform: rotate(360deg);
}
.subpage-main-menu-list-card:hover > .subpage-main-menu-list-card__price, .subpage-main__menu__list__card:hover > .subpage-main-menu-list-card__price {
  margin-right: 5%;
  padding-right: 0;
  transform: translateX(0%);
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 2.5%;
  padding: 2.5%;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: #d7d7d7;
}
.location__p {
  font-family: "Roboto", sans-serif;
  padding: 0 2.5%;
}
.location__icon {
  padding: 0 2.5%;
}

.book-the-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 5% 2.5%;
  background-color: whitesmoke;
}
.book-the-menu__subheader {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.book-the-menu__description {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 5% 5% 10% 0;
}
.how-it-works__subheader {
  font-family: "Roboto", sans-serif;
  padding: 2.5% 5%;
}
.how-it-works__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 95%;
  position: relative;
  left: 5%;
}
.how-it-works__list__card {
  padding: 2.5%;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 1200px;
  background-color: #f6f6f6;
}
.restaurants__subheader {
  font-family: "Roboto", sans-serif;
  padding: 2.5% 5%;
}
.restaurants__list {
  width: 90%;
  height: 80%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}
.restaurants__list__card--new::after {
  display: block;
}

.subpage-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 2.5%;
  padding: 2.5%;
}
.subpage-heading > span {
  font-size: 250%;
  position: absolute;
  left: 5%;
}
.subpage-heading > span > a {
  color: #000;
  text-decoration: none;
}

.subpage-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}
.subpage-main__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  background-color: #ebebeb;
  border-radius: 40px 40px 0 0;
}
.subpage-main__menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 90%;
  height: 6vh;
  padding: 2.5% 5%;
}
.subpage-main__menu__heading > h2 {
  font-family: "Shrikhand", cursive;
}
.subpage-main__menu__button {
  margin: 2.5% 0 10% 0;
}
.subpage-main__menu__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  width: 90%;
}
.subpage-main__menu__list__card--1 {
  content: "";
  transform-origin: top;
  animation: menu-loading 600ms 200ms both ease-in-out alternate;
}
.subpage-main__menu__list__card--2 {
  content: "";
  transform-origin: top;
  animation: menu-loading 600ms 400ms both ease-in-out alternate;
}
.subpage-main__menu__list__card--3 {
  content: "";
  transform-origin: top;
  animation: menu-loading 600ms 600ms both ease-in-out alternate;
}
.subpage-main__menu__list__card--4 {
  content: "";
  transform-origin: top;
  animation: menu-loading 600ms 800ms both ease-in-out alternate;
}
.subpage-main__menu__list__card--5 {
  content: "";
  transform-origin: top;
  animation: menu-loading 600ms 1000ms both ease-in-out alternate;
}

/*# sourceMappingURL=style_sass_compiled.css.map */
