.footer-layout{
    @include flex-display(column,flex-start,flex-start,center,nowrap);
    padding: 0px $middle-padding;
    
    color:$color-white;
    background-color: adjust-color($color-black,$lightness:15%);

    &__header{
        @include font(title);

    }

    &__icon-des{
        @include flex-display(row,flex-start,center,center,nowrap);
        width: 50%;

        @include font(text);

        & > span{
            width:5%;
            padding:0px $standard-padding ;
        }

        & > p{
            margin: $standard-margin 0px;
            padding:0px $middle-padding;
        }
    }

    &__des{

        @include font(text);

        & > p{
            margin: $large-margin 0px;
            padding:0px $middle-padding;

            & > a{
                text-decoration: none;

                &:visited{
                    color:$color-white;
                }
            }
        }

    }
}