.how-it-works-card{
    @include flex-display(row,flex-start,center,center,wrap);
    width:90%;
    margin: $standard-margin 0;

    box-shadow: 5px 5px 5px adjust-color($color-grey,$lightness:15%);
    border-radius: 20px;

    background-color: adjust-color($color-grey,$lightness:20%);

    cursor: pointer;

    &__number{
        padding: 2% 3%;

        border-radius: 50%;

        background-color: $color-primary;
        color: $color-white;
        
        text-align: center;
        position:relative;
        left:-7.5%;
    }

    &__icon{
        width: 16px;
        margin:0 $middle-margin 0 0;

        font-size: 16px;

        &--color{
            color:$color-grey;
        }

        &--color:hover{
            color:$color-primary;
        }
    }

    &__text{
        @include font(text);
        margin:0 $standard-margin;
        
        font-size: 90%;

        color:$color-black;
    }

    &:hover{
        background-color: adjust-color($color-primary,$lightness:35%);
        box-shadow: 5px 5px 5px adjust-color($color-grey,$lightness:0%);
    }

    &:active{
        background-color: adjust-color($color-primary,$lightness:35%);
        box-shadow: 5px 5px 5px adjust-color($color-grey,$lightness:0%);
    }

}