.restaurants-card{

    width: 90%;
    height: 25%;

    border-radius: 20px;
    background-color: $color-white;
    margin: $standard-margin $middle-margin;

    &::after{
        content:"New";
        display:none;
        padding: 1.5%;
        background-color: rgb(87, 247, 233);
        color: adjust-color($color: rgb(22, 112, 59), $saturation: 50%, $lightness: 0%);
        width:15%;
        height:7%;
        text-align: center;
        position:relative;
        left:77.5%;
        top:-95%;

        @include font(text);
        font-size: 85%;
    }


    &__img-container{
        width:100%;
        height:70%;

        &__img{
            width:100%;
            height:100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }

        
        
    }

    &__sub-description{
        @include flex-display(row,space-between,center,center,nowrap);
        padding: $standard-padding $middle-padding;

        width: 90%;
        height:25%;

        &__des{
            text-decoration: none;
            width:60%;
            margin: 0 0;
            @include font(text);

            &__name{
                margin: $standard-margin 0;
                font-weight: bolder;
            }

            &__loc{
                margin: $standard-margin 0;
            }
        }

        &__like{

            @extend .like-img;

        }

    }

    & > a{
        text-decoration: none;
        color: $color-black;
    }

    

}