.subpage-main-menu-list-card {

    @include flex-display(row,space-between,flex-end,center,nowrap);
    @include font(text);
    width:100%;
    height:100%;
    margin: $standard-margin 0;

    background-color: $color-white;
    border-radius: 20px ;

    overflow:hidden;
    cursor: pointer;

    &__item{
        width: 75%;
        padding: $middle-padding $middle-padding $middle-padding $middle-padding;

        transition: all 400ms linear;

        &__name{
            font-weight: bold;
            margin-bottom: 10px;
        }

        &__des{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    &__selected{
        @include flex-display(column,center,center,center,nowrap);
        width:0%;
        background-color: $color-tertiary;
        align-self: stretch;
        color:white; 

        transition: all 400ms ease-in-out;

        & > i{
            transform: rotate(0);
            transition: all 400ms ease-in-out;
        }

    }

    &__price{
        @include flex-display(row,flex-end,flex-end,center,nowrap);
        width:15%;
        padding: 0 $middle-padding $middle-padding 0;
        margin:0 0 0 0;
        
        font-weight: bold;
        &::after{
            content:"\20AC";
        }

    }

    &:hover > &__item {
        width: 50%;
    }  
        
    &:hover > &__selected{
        width: 20%;

        & > i{
            transform: rotate(360deg);
        }

    }

}
