.subpage-main-menu-list-card {

    @include flex-display(row,space-between,flex-end,center,nowrap);
    @include font(text);

    background-color: $color-white;
    border-radius: 20px ;
    width:100%;
    height:70px;

    margin: $standard-margin 0;

    overflow:hidden;
    cursor: pointer;

    &__item{
        width: 50%;

        padding: $standard-padding $middle-padding $standard-padding $standard-padding;
        &__name{
            font-weight: bold;
            margin-bottom: $standard-margin;
        }

        &__des{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    &__selected{
        @include flex-display(column,center,center,center,nowrap);
        background-color: $color-tertiary;
        width:15%;
        height:100%;
        color:white; 
        display:none;

    }

    &__price{
        @include flex-display(row,flex-end,flex-end,center,nowrap);
        padding: 0 $standard-padding $standard-padding $standard-padding;
        margin:0 $middle-margin;
        width:15%;
        
        font-weight: bold;
        &::after{
            content:"\20AC";
        }

        transform: translateX(0);
    }

    &:hover > &__selected{
        display:flex;

        animation:menu-list-card-slide-in 800ms 50ms both ease-in-out normal;

        & > i{
            animation:spin 700ms 200ms both ease-in-out normal;
        }

    }

    &:hover > &__price{
        margin-right: $middle-margin;
        padding-right: 0;
        transform:translateX(0%);
        animation:price-slide-in 700ms 150ms both ease-in-out normal;
        // transform: translateX(57.5%);
    }

}
