.subpage-main-menu-list-card {

    @include flex-display(row,space-between,flex-end,center,nowrap);
    @include font(text);

    background-color: $color-white;
    border-radius: 20px ;
    width:100%;
    height:100%;

    margin: $standard-margin 0;

    overflow:hidden;
    cursor: pointer;

    &__item{
        width: 50%;

        padding: $middle-padding $middle-padding $middle-padding $middle-padding;
        &__name{
            font-weight: bold;
            margin-bottom: $standard-margin;
        }

        &__des{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }

    &__selected{
        @include flex-display(column,center,center,center,nowrap);
        background-color: $color-tertiary;
        width:20%;
        align-self: stretch;
        color:white; 

        transform: translateX(105%);
        transition: all 500ms ease-in-out;

        & > i{
            transform: rotate(0);
            transition: all 500ms ease-in-out;
        }

    }

    &__price{
        @include flex-display(row,flex-end,flex-end,center,nowrap);
        padding: 0 0 $standard-padding 0;
        margin:0 0 0 0;
        width:15%;
        
        font-weight: bold;
        &::after{
            content:"\20AC";
        }

        transform: translateX(80%);
        transition: all 500ms 50ms ease-in-out;
    }

    &:hover > &__selected{

        transform: translateX(0%);

        & > i{
            transform: rotate(360deg);
        }

    }

    &:hover > &__price{
        transform:translateX(0%);
    }

}
