.like-img{

    cursor: pointer;
    
    &__regular{
        font-size: 5vh;

        opacity:1;
        transition: opacity 0.6s ease-in-out;
    }

    &__solid{
        font-size: 5.2vh;
        
        position:absolute;

        opacity: 0;
        transform: translate(-5vh, 0);
        transition: opacity 0.6s 0.2s ease-in-out;

        i {
            background:-webkit-gradient(linear, left bottom, right top, from($color-secondary), to($color-primary));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &:hover &__regular{
        opacity: 0;
    }
    
    &:hover &__solid{
        opacity: 1;
    }
    
}