.like-img{

    cursor: pointer;
    
    &__regular{
        font-size: 5vh;
    }

    &__solid{
        font-size: 5vh;
        display:none;
        i {
            background:-webkit-gradient(linear, left bottom, right top, from($color-secondary), to($color-primary));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &:hover &__regular{
        display:none;
    }
    
    &:hover &__solid{
        display:block;
    }
    
}