.menu-list-title{
    
    @include font(text);
    margin: $standard-margin 0;

    & > p{
        margin: $large-margin 0;
    }

    & > div{
        width: 60%;
        height: 3px;
        padding-top: calc($standard-padding/2);
        
        background-color: $color-tertiary;
    }

}