.heading{
    @include flex-display(row,center,center,center,wrap);
    margin: $standard-margin;
    padding: $standard-padding;
}

.location{
    @include flex-display(row,center,center,center,wrap);

    background-color: adjust-color($color-grey,$lightness:10%);

    &__p{
        @include font("");
        padding: 0 $standard-padding;
    }
    &__icon{
        padding: 0 $standard-padding;
    }
}

.book-the-menu{
    @include flex-display(column,center,center,center,wrap);

    padding: $middle-padding $standard-padding;

    background-color: adjust-color($color-grey,$lightness:22%);

    &__subheader{
        @include font("text");
        font-weight: bolder;
    }

    &__description{
        @include font("text");
        text-align: center;
    }

    &__button{
        @extend .button;
    }

}

.how-it-works{
    @include flex-display(column,flex-start,flex-start,flex-start,wrap);

    padding: $middle-padding $middle-padding $large-padding 0;

    &__subheader{
        @include font("text");
        padding: $standard-padding $middle-padding;
    }

    &__list{
        @include flex-display(column,flex-start,center,center,nowrap);
        width: 95%;
        
        position: relative;
        left:5%;
        

        &__card{
            padding: $standard-padding;
            @extend .how-it-works-card;
        }
    }

}

.restaurants{

    @include flex-display(column,flex-start,flex-start,flex-start,nowrap);
    width: 100%;
    height:auto;
    padding-bottom: $middle-padding;
    
    background-color: adjust-color($color-grey,$lightness:22.5%);

    &__subheader{
        @include font("text");
        padding: $standard-padding $middle-padding;
    }

    &__loading-animation{
        position: absolute;
        top:150%;
        @media screen and (min-width: 720px)  {
            top:200%;
        }

        @media screen and (min-width: 1024px)  {
            top:250%;
        }

        @media screen and (min-width: 1440px)  {
            top:300%;
        }

        align-self: center;

        &__lds-default{
            @extend .lds-default;
        }
        z-index: 1;

        animation: hiding 3s both 1;
    }

    &__list{
        @include flex-display(column,space-between,center,center,nowrap);
        width:90%;
        height:80%;
        padding: 0 $middle-padding;

        z-index: 2;

        &--animation{
            opacity: 1; 
            transition:opacity 2000ms 0 ease-in-out; 
        }

        &__card{
            @extend .restaurants-card;

            @for $i from 1 through 5 {
                &--#{$i}{
                    @include menu-loading(600ms,2000ms + $animation-delay*$i);
                }

            }
        }

    }

}

.footer{
    @extend .footer-layout;

}
