.subpage-heading{
    @include flex-display(row,center,center,center,wrap);
    margin: $standard-margin;
    padding: $standard-padding;

    & > span{
        font-size: 250%;
        position:absolute;
        left:5%;

        & > a{
            color: $color-black;
            text-decoration: none;
        }
    }
}

.subpage-main{
    @include flex-display(column,flex-start,center,center,nowrap);

    &__background-img{
        @extend .background-img;
    }

    &__menu{
        @include flex-display(column,space-around,center,center,nowrap);
        width:100%;
        height: auto;

        background-color: adjust-color($color-grey,$lightness:18%);

        border-radius: 40px 40px 0 0;

        &__heading{
            @include flex-display(row,space-between,center,center,nowrap);
            width:90%;
            height:6vh;
            padding: $standard-padding $middle-padding;

            & > h2{
                @include font(title);
            }

            &__like{
                @extend .like-img;
            }

        }

        &__button{
            margin: $standard-margin 0 $large-margin 0;

        }

        &__list{
            @include flex-display(column,flex-start,flex-start,center,nowrap);
            width:90%;
    
            &__title{
                @extend .menu-list-title;
            }

            &__card{
                @extend .subpage-main-menu-list-card;

                @for $i from 1 through 5 {
                    &--#{$i}{
                        @include menu-loading(600ms, $animation-delay*$i);
                    }

                }
                
            }
    
        }
    }

}