
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-grey:#bab9bc;

$standard-padding:2.5%;
$middle-padding:5%;
$large-padding:10%;

$standard-margin:2.5%;
$middle-margin:5%;
$large-margin:10%;